:root {
  --black: #00000;
}

/* 000 75%  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttons_register {
  display: flex;
  flex-direction: column;
  margin-top: 0.6125rem;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #fefefe;
  margin-top: 0.6125rem;
  height: 2.5rem;
  width: 31rem;
  border: none;
  border-radius: 0.5rem;
}

.btn_green {
  background-color: #28734e;
}

@media (max-width: 560px) {
  #titulo_registro_form {
    font-size: 1rem;
  }

  .section__form_register {
    margin-top: 2rem;
  }

  .register__form__input {
    width: 20rem;
  }

  .btn {
    width: 25rem;
  }
}

@media screen and (max-width: 1079px){
  .titulo_registro_form {
    width: 25rem;
  }

  .btn {
    width: 25rem;
  }

  h2 {
    width: 70%;
  }
}
