{% extends 'base/base_page_header.html' %}

{% load static %}

{% block title %} Home - User {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'rh/css/style_home_user.css' %}">

    <aside class="side">
            <div class="lateral_link_meu_perfil">
                <img class="img_aside" src="{% static 'rh/img/noun-user-home-user.svg' %}" alt="">
                <a href="#" style="margin-left: 0.5625rem;">Meu Perfil</a>
            </div>
            <div class="lateral_link_sair" style="margin-top: 0.9375rem;">
                <img class="img_aside" src="{% static 'rh/img/sair-registros.svg' %}" alt="">
                <a href="#" style="margin-left: 0.5625rem;">Sair</a>
            </div>
    </aside>
    
    <section  class="content">
        <div class="agrupa_meu_perfil">
            <h3>Meu Perfil</h3>
            <div class="meu_perfil">
                <div class="home_admin_information">
                    <h3>Nome do Usuário</h3>
                    <p>CPF:111.111.111-00</p>
                    <p>Turno:9:00 - 18:00</p>
                    <div class="periodo_ferias">
                        <p>Ferias de 05/04/2023 a 20/04/2023</p>
                    </div>
                </div>
                <div class="home_admin_button">
                    <button class="btn_user_home" type="submit">Registrar Ponto</button>
                    <div class="home_admin_time">
                        <img src="" alt="">
                        <p>Previsão de Saída</p>
                        <p>00:00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="agrupa_lista_registros">
            <h3>Últimos Registros</h3>
            <div class="lista_registros">
                <li>Registro 1</li>
                <li>Registro 2</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
                <li>Registro 3</li>
            </div>
        </div>

    </section>

{% endblock %}