{% extends 'base/base_lateral_header.html' %}

{% load static %}
{% block 'link' %}
<link rel="stylesheet" href="{% static 'rh/css/style_horas_extras.css' %}">
{% endblock %}

{% block title %} Horas Extras {% endblock %}

{% block content %}
<section class="content">

    <div class="box">
        <h3>Horas Extras</h3>
        <div class="group_horas_extras">
            <div class="box_horas_extras">

                <div class="selecao__contador">
                    <div class="selecao">
                        <h4>Relatório de Horas Extras</h4>
                        <form id="filterForm" > 
                            <select name="user_input" id="user_input">
                                {% for user in users %}
                                    <option value="{{ user.id }}"> {{ user.first_name}} </option>
                                {% endfor %}
                            <input name="month_input" id="month_input" type="month"  placeholder="Selecione o mês desejado">
                            <input type="submit" value="Buscar" name="_load">
                        </form>

                    </div>

                    <div class="box_contador">
                        <img class="clock" src="{% static 'rh/img/time-left1clock.svg' %}" alt="">
                        <p style="text-transform: uppercase; color: #FFFF;">Horas Extras</p>
                        <div class="contador">
                            <p id="extra_hours">00:00</p>
                        </div>
                    </div>

                </div>

                <div class="area__grafico">
                    <canvas id="chart" height="100"></canvas>
                </div>
            </div>

        </div>
    </div>

</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"> </script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script>
    let extra_hours = "00:00"
    let today = new Date();
    let month = today.getMonth() + 1;
    let year = today.getFullYear();
    let month_input = document.getElementById("month_input");
    month = (month < 10 ? '0' : '') + month;
    month_input.defaultValue=year + "-" + month;

    let ctx = document.getElementById("chart").getContext("2d");
    let chart = new Chart(ctx, {
    type: "line",
    options: {
        title: {
            text: "Horas trabalhadas",
            display: false
        }
    }
    });


  $("#filterForm").on("submit", (event) => {
    event.preventDefault();

    const month = $("#month_input").val();
    const user = $("#user_input").val();
    loadChart(month,user);
  });

  function loadChart(month, user) {
    $.ajax({
      url: `/rh/dashboard/${user}/${month}`,
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Extract data from the response
        const labels = jsonResponse.data.labels;
        const datasets = jsonResponse.data.datasets;
        const extra_hours = jsonResponse.data.extra_hours;
        // Reset the current chart
        chart.data.datasets = [];
        chart.data.labels = [];
        
        // Load new data into the chart
        chart.options.title.display = true;
        chart.data.labels = labels;
        datasets.forEach(dataset => {
            chart.data.datasets.push(dataset);
        });
        chart.update();
        extra_hours = document.getElementById("extra_hours").innerHTML=extra_hours

      },
      error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
    });
  }

</script>

{% endblock %}