{% extends 'base_page_header.html' %}

{% load static %}

{% block title %}Cadastro dos Colaboradores{% endblock %}

{% block content %}


<!-- load static files -->



<link rel="stylesheet" href="{% static 'rh/css/style_login.css' %}">

<section id="form_register">
    <h2 id="titulo_registro_form">CADASTRO DE FUNCIONÁRIOS</h2>
    <form action="" method="post">
        <input type="text" placeholder="N° CPF" required maxlength="100">
        <input type="text" placeholder="Nome" required maxlength="100">
        <input type="text" placeholder="Sobrenome" required maxlength="100">
        <!-- <input type="email" placeholder="Email" required maxlength="100"> -->
        <input type="password" placeholder="Senha" required maxlength="100">
        <input type="password" placeholder="Repita a senha" required maxlength="100">
        
        <div class="buttons_register">
            <button class="btn btn_green">REGISTER</button>
            <button class="btn btn_orange">BACK TO START MENU</button>
        </div>
    </form>
</section>


{% endblock %}
