{% extends 'base/base_page_no_header.html' %}
{% load static %}

{% block title %}Home - Admin{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<link rel="stylesheet" href="{% static 'rh/css/style_global.css' %}">
<link rel="stylesheet" href="{% static 'rh/css/style_user_home.css' %}">

	<!-- <h2>Hi {{ user.username }}!</h2> -->

	<!-- <h1>Welcome to Don't Get Fired</h1> -->
	<section id="pagina_user_home">
		<div class="form_home_user_option_list">
			<div class="box">
				<h2>SELECIONE UMA OPÇÃO</h2>
				<nav>
					<ul>
						<li><a href="{% url 'rh:home_admin'%}">MEU PERFIL</a></li>
						<li><a href="{% url 'rh:users'%}">CADASTRO</a></li>
						<li><a href="{% url 'rh:timesheet_list'%}">REGISTRO DE FÉRIAS</a></li>
						<li><a href="{% url 'rh:users' %}"></a>HORAS EXTRAS</li>
						<li>
							<p><a href="{% url 'logout' %}">Sair</a></p>
							{% else %}
							<p>You are not logged in</p>
							<a href="{% url 'login' %}">Log In</a>
							{% endif %}
						</li>
						
					</ul>
				</nav>
			</div>
		</div>
	
		<div class="logo_home_user">
			<img src="{% static 'rh/img/logo-home-admin.svg' %}" alt="">
		</div>
	</section>
{% endblock %}