{% extends 'base/base_lateral_header.html' %}

{% load static %}

{% block 'link' %}
<link rel="stylesheet" href="{% static 'rh/css/style_home_user.css' %}">
{% endblock %}


{% block title %} Home - Admin {% endblock %}

{% block content %}

<section class="content">
    <div class="agrupa_meu_perfil">
        <h3 class="user__titulo__profile">Meu Perfil</h3>
        <div class="meu_perfil">
            <div class="home_admin_information">
                <h3 id="user__name">{{user.username}} {{user.first_name}} {{ user.last_name}}</h3>
                <p class="user__information">CPF: {{ user.username }}</p>
                <p class="user__information">Turno:9:00 - 18:00</p>
                {% if vacations %}
                <div class="periodo_ferias">
                    <p> Férias de {{vacations.start_date|date:"d/m/Y"}} a {{vacations.end_date|date:"d/m/Y"}}</p>
                </div>
                {% else %}
                <div class="periodo_ferias">
                    <img style= "margin-left: 20px;" src="{% static 'rh/img/calendar.png' %}" alt="">
                    <p> Férias de {{vacations.start_date|date:"d/m/Y"}} a {{vacations.end_date|date:"d/m/Y"}}</p>
                </div> 
                {% endif %}

            </div>
            <div class="home_admin_button">
                <form method="post" action="{% url 'rh:timesheet_register' %}">
                    {% csrf_token %}
                    <button class="btn_user_home" type="submit" name="register" value={{ user.id }}>Registrar Ponto</button>
                </form>
                <div class="home_admin_time">
                    <img src="{% static 'rh/img/time-left1clock.svg' %}" alt="">
                    <div class="tempos__saida">
                    <p id="texto_saida">Previsão de Saída</p>
                    <p id="relogio__user__profile">00:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="agrupa_lista_registros">
        <h3 class="user__titulo__profile">Últimos Registros</h3>
        <div class="lista_registros" style="margin-bottom: 10px;">
            {% for register in last_registers %}
            <li class="li__registro"><img src="{% static 'rh/img/sair-registros.svg' %}" >
            <li>{{register.created_at|time:"H:i"}} |
                {{register.created_at|date:"d.m"}} |
                {% if forloop.counter|divisibleby:2 %}SAÍDA{% else %}ENTRADA{% endif %}
            </li>
            <hr style="max-width: 860px; margin-left: 20px;">
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}