<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'link' %} 
    {% endblock %}
    <title>{% block title %} Don't Get Fired!  {% endblock %}</title>
</head>

<body>
    <header style="background-color: #28734E;">
        <h1 >
            <img style="margin-left: 1.5rem; padding: 0.875rem 0 0.875rem 0;" src="{% static 'rh/img/DGF_WHITE_LOGO.png' %}" alt="teste">
        </h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>