<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Don't Get Fired! -  {% endblock %}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <header style="background-color: green;">
        <h1 >
            <img style="margin-left: 1.5rem; padding-top: 0.875rem;" src="{% static 'rh/img/DGF_WHITE_LOGO.png' %}" alt="teste">
        </h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>