{% extends 'base/base_page_no_header.html' %}

{% load static %}

{% block 'link' %}
<link rel="stylesheet" href="{% static 'rh/css/style_global.css' %}">
<link rel="stylesheet" href="{% static 'rh/css/style_login.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}


<div id="login__barra_green">
</div>

<div class="login_form">

  <img id="login__avatar" src="{% static 'rh/img/avatar_login.svg' %}" alt="avatar login">
  <h2 style="font-size: 30px; font-weight: 50; font-family: sans-serif;">LOGIN</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form_login" style="padding: 0; margin: 0; display: flex; flex-direction: column;">
      <p style="display: flex;">
        {{ form.as_p }}
      </p>
      <button class="btn_login btn_green" type="submit" style="font-weight: 100;">LOGIN</button>
      <p id="password_reset"><i>Forget your password?<a href="{% url 'rh:user_register' %}">Click here</a></i></p>
    </div>
  </form>
</div>

<div id="logo_login_rh">
  <img src="{% static 'rh/img/Group 14icons.svg'%}" alt="">
</div>


{% endblock %}